@model Shaheen.Models.Trade

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>التفاصيل</h2>

<div>
    <h4>شهادة اختبار للمواصفات والمقاييس السعودية</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.TradeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TradeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ManufactureCompany)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ManufactureCompany)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdditionalInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdditionalInfo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TestCertificateIssuer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TestCertificateIssuer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TestReportNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TestReportNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TestCertificateNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TestCertificateNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupplierCommercialRegistry)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplierCommercialRegistry)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplierName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">تعديل</a> |
    <a asp-action="Index">العودة الي القائمة</a>
</div>
