@model IEnumerable<Shaheen.Models.Trade>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>شهادات اختبار للمواصفات والمقاييس السعودية</h2>

<p>
    <a asp-action="Create">سجل جديد</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TradeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestCertificateIssuer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestReportNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestCertificateNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TradeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufactureCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestCertificateIssuer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestReportNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestCertificateNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">تعديل</a> |
                <a asp-action="Details" asp-route-id="@item.Id">التفاصيل</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
